user  {{ nginx_user }} {{ nginx_group }};

worker_processes {{ nginx_worker_processes }};
worker_cpu_affinity {{ nginx_worker_cpu_affinity }};

error_log  {{ server_path }}/{{ server_user }}/{{ server_log_dir }}/{{ nginx_error_log }};

events {
    worker_connections  {{ nginx_worker_connections }};
    multi_accept {{ nginx_multi_accept }};
}

http {
    include       {{ nginx_mime_file_path }};
    default_type  {{ nginx_default_type }};

    access_log  {{ server_path }}/{{ server_user }}/{{ server_log_dir }}/{{ nginx_access_log }};

    # worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};

    server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size }};

    client_max_body_size {{ nginx_client_max_body_size }};

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    sendfile        {{ nginx_sendfile }};
    tcp_nopush      {{ nginx_tcp_nopush }};
    tcp_nodelay     {{ nginx_tcp_nodelay }};

    keepalive_timeout  {{ nginx_keepalive_timeout }};
    keepalive_requests {{ nginx_keepalive_requests }};

    #gzip  on;

    include {{ nginx_conf_path }}/*.conf;
{% if nginx_conf_path != nginx_vhost_path %}
    include {{ nginx_vhost_path }}/*;
{% endif %}
}
