#{% for vhost in nginx_vhosts %}
#
#server {
#    listen {{ vhost.listen | default('80 default_server') }};
#    # listen [::]:{{ vhost.listen | default('80 default_server') }} ipv6only=on;
#
#    server_name {{ vhost.server_name }};
#    charset utf-8;
#
#{% if vhost.root is defined %}
#    root {{ server_path }}/{{ server_user }}/{{ server_data_dir }}/{{ server_public_dir }};
#{% endif %}
#
#{% if vhost.error40x_page is defined %}
#    error_page {{ vhost.error40x_page }};
#{% endif %}
#
#{% if vhost.error50x_page is defined %}
#    error_page {{ vhost.error50x_page }};
#    location =/50x.html {
#      root {{ server_path }}/{{ server_user }}/{{ server_data_dir }}/{{ server_public_dir }};
#    }
#{% endif %}
#
#{% if vhost.access_log is defined %}
#    access_log {{ server_path }}/{{ server_user }}/{{ server_log_dir }}/{{ vhost.access_log }};
#{% endif %}
#
#{% if vhost.error_log is defined %}
#    error_log {{ server_path }}/{{ server_user }}/{{ server_log_dir }}/{{ vhost.error_log }} error;
#{% endif %}
#
#    index {{ vhost.index | default('index.html index.htm') }};
#
#
#    location / {
#        if (!-e $request_filename) {
#          rewrite  ^(.*)$  /bitrix/urlrewrite.php last;
#        }
#
#        try_files $uri $uri/ =404;
#        root {{ server_path }}/{{ server_user }}/{{ server_data_dir }}/{{ server_public_dir }};
#        index {{ vhost.index }};
#
#        fastcgi_split_path_info {{ vhost.fastcgi_split_path_info }};
#        fastcgi_pass unix:{{ server_fastcgi_pass }};
#        fastcgi_index {{ vhost.index }};
#        include fastcgi_params;
#
#        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
#        set $path_info $fastcgi_path_info;
#        fastcgi_param PATH_INFO $path_info;
#    }
#
#    location ~ \.php$ {
#        if (!-f $request_filename) {
#          rewrite  ^(.*)/index.php$  $1/ redirect;
#        }
#
#        try_files $uri $uri/ =404;
#
#        root {{ server_path }}/{{ server_user }}/{{ server_data_dir }}/{{ server_public_dir }};
#
#        fastcgi_split_path_info {{ vhost.fastcgi_split_path_info }};
#        fastcgi_pass unix:{{ server_fastcgi_pass }};
#        fastcgi_index {{ vhost.index }};
#        include fastcgi_params;
#
#        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
#        set $path_info $fastcgi_path_info;
#        fastcgi_param PATH_INFO $path_info;
#    }
#
#    location ~* \.(css|js|gif|png|jpg|jpeg|ico|ogg|ttf|woff|eot|otf)$ {
#        root {{ server_path }}/{{ server_user }}/{{ server_data_dir }}/{{ server_public_dir }};
#        expires 1d;
#    }
#
#    location ~* \.(css|js|gif|png|jpg|jpeg|ico|ogg|ttf|woff|eot|otf)\?[0-9]*$ {
#        root {{ server_path }}/{{ server_user }}/{{ server_data_dir }}/{{ server_public_dir }};
#        expires 1d;
#    }
#
#    location ~ /\.ht {
#        deny all;
#    }
#}
#{% endfor %}


{% for vhost in nginx_vhosts %}

server {
        listen {{ vhost.listen | default('80 default_server') }};
        ssi on;
        ssi_silent_errors on;
        gzip on;
        gzip_comp_level 7;
        gzip_types  application/x-javascript application/javascript text/css;

        server_name {{ vhost.server_name }};
        charset utf-8;
        index {{ vhost.index | default('index.html index.htm') }};
        root {{ server_path }}/{{ server_user }}/{{ server_data_dir }}/{{ server_public_dir }};
        set $root_path {{ server_path }}/{{ server_user }}/{{ server_data_dir }}/{{ server_public_dir }};
        set $php_sock unix:{{ server_fastcgi_pass }};
{% if vhost.access_log is defined %}
    access_log {{ server_path }}/{{ server_user }}/{{ server_log_dir }}/{{ vhost.access_log }};
{% endif %}

{% if vhost.error_log is defined %}
    error_log {{ server_path }}/{{ server_user }}/{{ server_log_dir }}/{{ vhost.error_log }} error;
{% endif %}
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        client_max_body_size 1024M;
        client_body_buffer_size 4M;

        location / {
                try_files       $uri $uri/ @bitrix;
        }

        location ~ \.php$ {
                try_files       $uri @bitrix;
                fastcgi_pass    $php_sock;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_param PHP_ADMIN_VALUE "sendmail_path = /usr/sbin/sendmail -t -i -f wm@test.ru";
                include fastcgi_params;
        }
        location @bitrix {
                fastcgi_read_timeout {{ nginx_fastcgi_read_timeout }};
                fastcgi_pass    $php_sock;
                include fastcgi_params;
                fastcgi_param SCRIPT_FILENAME $document_root/bitrix/urlrewrite.php;
                fastcgi_param PHP_ADMIN_VALUE "sendmail_path = /usr/sbin/sendmail -t -i -f wm@test.ru";
        }
        location ~* /bitrix/admin.+\.php$ {
                try_files       $uri @bitrixadm;
                fastcgi_pass    $php_sock;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                fastcgi_param PHP_ADMIN_VALUE "sendmail_path = /usr/sbin/sendmail -t -i -f wm@test.ru";
                include fastcgi_params;
        }
        location @bitrixadm{
                fastcgi_read_timeout {{ nginx_fastcgi_read_timeout }};
                fastcgi_pass    $php_sock;
                include fastcgi_params;
                fastcgi_param SCRIPT_FILENAME $document_root/bitrix/admin/404.php;
                fastcgi_param PHP_ADMIN_VALUE "sendmail_path = /usr/sbin/sendmail -t -i -f wm@test.ru";
        }

        location = /favicon.ico {
                log_not_found off;
                access_log off;
        }

        location = /robots.txt {
                allow all;
                log_not_found off;
                access_log off;
        }
        #
        # block this locations for any installation
        #

        # ht(passwd|access)
        location ~* /\.ht  { deny all; }

        # repositories
        location ~* /\.(svn|hg|git) { deny all; }

        # bitrix internal locations
        location ~* ^/bitrix/(modules|local_cache|stack_cache|managed_cache|php_interface) {
          deny all;
        }

        # upload files
        location ~* ^/upload/1c_[^/]+/ { deny all; }

        # use the file system to access files outside the site (cache)
        location ~* /\.\./ { deny all; }
        location ~* ^/bitrix/html_pages/\.config\.php { deny all; }
        location ~* ^/bitrix/html_pages/\.enabled { deny all; }

        # Intenal locations
        location ^~ /upload/support/not_image   { internal; }

        # Cache location: composite and general site
        location ~* @.*\.html$ {
          internal;
          # disable browser cache, php manage file
          expires -1y;
          add_header X-Bitrix-Composite "Nginx (file)";
        }

        # Player options, disable no-sniff
        location ~* ^/bitrix/components/bitrix/player/mediaplayer/player$ {
          add_header Access-Control-Allow-Origin *;
        }

        # Accept access for merged css and js
        location ~* ^/bitrix/cache/(css/.+\.css|js/.+\.js)$ {
          expires 30d;
          error_page 404 /404.html;
        }

        # Disable access for other assets in cache location
        location ~* ^/bitrix/cache              { deny all; }

        # Use nginx to return static content from s3 cloud storage
        # /upload/bx_cloud_upload/<schema>.<backet_name>.<s3_point>.amazonaws.com/<path/to/file>
        location ^~ /upload/bx_cloud_upload/ {
          location ~ ^/upload/bx_cloud_upload/(http[s]?)\.([^/:]+)\.(s3|s3-us-west-1|s3-eu-west-1|s3-ap-southeast-1|s3-ap-northeast-1)\.amazonaws\.com/(.+)$ {
                internal;
                resolver 8.8.8.8;
                proxy_method GET;
                proxy_set_header    X-Real-IP               $remote_addr;
                proxy_set_header    X-Forwarded-For         $proxy_add_x_forwarded_for;
                proxy_set_header    X-Forwarded-Server      $host;
                #proxy_max_temp_file_size 0;
                proxy_pass $1://$2.$3.amazonaws.com/$4;
          }
          location ~* .*$       { deny all; }
        }
        # Static content
        location ~* ^/(upload|bitrix/images|bitrix/tmp) {
          expires 30d;
        }

        location  ~* \.(css|js|gif|png|jpg|jpeg|ico|ogg|ttf|woff|eot|otf)$ {
          error_page 404 /404.html;
          expires 30d;
        }

        location = /404.html {
                access_log off ;
        }

}
{% endfor %}
