[{{ server_user }}]
# chroot = {{ server_path }}/{{ server_user }}/{{ server_data_dir }}/{{ server_public_dir }}
# chdir = /
listen = {{ server_fastcgi_pass }}
listen.mode = 0666
user = {{ server_user }}
group = {{ server_user }}
chdir = {{ server_path }}/{{ server_user }}
php_admin_value[upload_tmp_dir] = {{ server_path }}/{{ server_user }}/{{ server_tmp_dir }}
php_admin_value[date.timezone] = {{ server_timezone }}
pm = {{ php_fpm_pm }}
pm.max_children = {{ php_fpm_pm_max_children }}
pm.start_servers = {{ php_fpm_pm_start_servers }}
pm.min_spare_servers = {{ php_fpm_pm_min_spare_servers }}
pm.max_spare_servers = {{ php_fpm_pm_max_spare_servers }}
pm.max_requests = {{ php_fpm_pm_max_requests }}
request_terminate_timeout = {{ php_request_terminate_timeout }}